@charset "UTF-8";
@font-face {
    font-family: "Money";
    src: url("Money money money.ttf") format("truetype"); 
}
@font-face {
    font-family: "Money Plus";
    src: url("Money Money Plus.woff") format("truetype");
}
body {
    background-image: linear-gradient(to left, #ffffff,  #ffffff);   
}

h1 { 
font-family: "Arial";
text-align: center;
font-size: 5em;
font-weight: 100;
text-shadow: 1px 1px 1px rgb(12, 10, 10);
margin-bottom: 0px;
}

thead{
    border: 1px solid white;
    font-weight: bold;
    background-image: linear-gradient(45deg, #594a0246,#594a026b,#ffdb00,#594a026b,#594a026b);
    
}


div {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2mm;
    margin-top: 2mm;
}

div input {

    width: 80mm;
    margin-top: 2mm;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;

}

p {
    margin: 10px;
}





